{% extends 'base.html.twig' %}

{% block title %}Créer un Compte Bancaire{% endblock %}

{% block body %}
<h1>Créer un Nouveau Compte Bancaire</h1>

<form action="{{ path('compte_bancaire_create') }}" method="post">
    <label for="type">Type de compte:</label>
    <select name="type" id="type">
        <option value="courant">Courant</option>
        <option value="epargne">Épargne</option>
    </select>

    <label for="solde">Solde Initial:</label>
    <input type="number" id="solde" name="solde" required min="0" step="any">

    <button type="submit">Créer le Compte</button>
</form>
{% endblock %}
