<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
        text-align: left;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #ddd;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Numéro de Compte</th>
            <th>Type</th>
            <th>Solde</th>
            <th>Découvert Autorisé</th>
        </tr>
    </thead>
    <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.numeroDeCompte }}</td>
                <td>{{ compte.type }}</td>
                <td>{{ compte.solde }}</td>
                <td>{{ compte.decouvertAutorise }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun compte bancaire trouvé.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
