{% extends 'base.html.twig' %}

{% block title %}Liste des Comptes Bancaires{% endblock %}

{% block body %}
<h1>Liste des Comptes Bancaires</h1>

<table>
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Type</th>
            <th>Solde</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.numeroDeCompte }}</td>
                <td>{{ compte.type }}</td>
                <td>{{ compte.solde }}</td>
                <td>
                    <a href="{{ path('compte_bancaire_details', { id: compte.id }) }}">Voir Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun compte trouvé.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
