# Les répertoires contenant des fichiers générés
/var/
/vendor/
/node_modules/

# Fichiers sensibles et de configuration
.env
.env.local
.env.*.local

# Les caches IDE (comme PhpStorm)
.idea/
.vscode/

# Les fichiers de logs
*.log

# Les fichiers de débogage Symfony
*.cache

# Les tests et leurs artefacts
phpunit.xml
phpunit.xml.dist
coverage/

# Autres fichiers temporaires
.DS_Store
Thumbs.db
